* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #FDB827;
    color: #ffffff;
}

.Presentacion {
    text-align: center;
    padding: 30px;
    background-color: #21209C;
}

#presentacion {
    font-size: 40px;
}

h2 {
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-weight: 400;
    font-size: 23px;
}

#contact {
    border: 0px;
    font-size: 20px;
    border-radius: 15px;
    padding: 20px;
    background-color: #20205a;
    color: #ffffff;
    transition: 300ms ease-in-out;
    overflow: hidden;
    border: transparent 1px;
    cursor: pointer;
}

#contact:hover {
    background-color: #FDB827;
    font-weight: 600;
}

